body {
    margin: 0;
    background-color: #61bd5b73;
}
.main-body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 75vh;
    background-color: rgba(106, 63, 52, 0.674);
    border-radius: 30px;

    /* border: 1px solid; */
    padding: 10px;
    box-shadow: 5px 10px rgb(15 7 5 / 67%);
}
#display {
    background-color:#695b48;

    width: 95%;
    height: 25vh;
    border-radius: 15px;
    box-shadow: inset 0 0 10px #443030;
    text-align: right;
    padding: 5px;
    color: white;
    font-size: 30px;
    align-items: center;
}
.section {
    width: 100%;
    display: flex;
    padding: 8px;
    justify-content: space-evenly;
}
.section button {
    width: 20%;
    height: 9vh;
    border: none;
    border-radius: 50%;
    box-shadow:2px 2px white;
    text-align: center;
    background-color: #1c1717;
    color: white;
    font-size: larger;
   
}
#equal {
    width: 41%;
    border: none;
   
    
}
button:hover {
    background-color: white;
    color: black;
    box-shadow: 2px 2px black;
}
label{
    color: white;
    font-size: x-large;
   
}